<h1>Announcements</h1>

<ul>
  <% @announcements.each do |announcement| %>
    <li><%= link_to announcement.title, announcement_path(announcement) %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
    <%= link_to 'New Announcement', new_announcement_path %>
<% end %>