<h1>Employee List</h1>

<ul>
  <% @employees.each do |employee| %>
    <li><%= link_to employee.name, employee_path(employee) %></li>
  <% end %>
</ul>

<% if user_signed_in? %>
  <%= link_to 'New Employee', new_employee_path %>
<% end %>